<html>
	<head> </head>
	<body>
		<table
			style="
				width: fit-content;
				background-color: navy;
				border-radius: 10px;
				color: white;
				font-family: sans-serif;
				text-align: center;
				max-width: 500px;
				border-spacing: 30px;
			"
		>
			<tr>
				<td>
					<h2>Здравствуйте, {{ .UserLogin }}!</h2>
				</td>
			</tr>
			<tr>
				<td>
					Уведомляем Вас, что в Ваш аккаунт был выполнен вход с IP {{ .IP }}.
				</td>
			</tr>
			<tr>
				<td>
					Если это были не Вы, настоятельно рекомендуем изменить пароль к
					аккаунту и проверить активные сессии.
				</td>
			</tr>
		</table>
	</body>
</html>
